.cake {
/* size: ; */
width: 10rem;
height: 1orem;

}
.product{
    colour: #FF6347;
}
#product{

    display: flex;
    /* text-align: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 100vw;
    
}
.hero{
    color: #1E90FF;
    

}
.btn{
    background-color: #1E90FF;
    
}
body{
    background-color: #F5F5F5;
    font-family:poppins;
    font-size: 16px;
}
.jack{
    color: #FF6347;
}
.jay{
    padding:2rem;
    border-radius: 2rem;
}
#product1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    background-color: pink;
}